@import url('https://fonts.googleapis.com/css2?family=Flamenco&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: center;
    background-color: #d9a561;
}

.logo {
    height: 100px;
    width: auto;
}

.titulo-gasto {
    font-family: 'Flamenco', regular;
    background-color: #D9D9D9;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#gasto-mensal {
    width: 100%;
}

.entrada-saida {
    font-family: 'Flamenco', cursive;
    background-color: #D9D9D9;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.entrada-saida span {
    margin: 0 auto;
}

.valor-entrada {
    color: green;
}

.valor-despesa {
    color: red;
}

footer {
    background-color: #d9a561;
    border-top: 1px solid black;
}

.icones {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container-footer {
    min-height: 100%;
    position: relative;
}

footer {
    position:relative;
    bottom: 0;
    width: 100%;
    background-color: #d9a561;
    border-top: 1px solid black;
}

@media (max-width: 554px) {
    footer{
        position:absolute;
        bottom: 0;
        width: 100%;
        background-color: #d9a561;
        border-top: 1px solid black;
    }
}